*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

/* navbar */

/* input */
nav .header .section1-nav #check{
    display: none;
}
nav .header .section1-nav .bar{
    padding: 15px;
}

nav{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1;
    box-shadow: 0px -12px 25px 0px; 
}
nav .header{
    margin: auto;
    width: 80vw;
}
nav .header .section1-nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .header .section1-nav{
    padding: 30px 0;
}
nav .header .section1-nav .bar{
    display: none;
}
nav .header .section1-nav .logo{
    font-weight: 550;
    font-size: 25px;
}
nav .header .section1-nav .logo span{
    color: orange;
}
nav .header .section1-nav a{
    padding: 15px;
}
nav .header .section1-nav .navbar .main{
    color: orange;
}
.main .color{
    width: 100%;
    height: 1000px;
    background-color: aquamarine;
}

/* carrousel */
.section1{
    height: 100vh;
}
.section1 .row0{
}

.section1 .row0 .myslides{
    display: none;
}

.section1 .row0 .myslides .row1{
    padding-top: 140px;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section1 .row0 .myslides .row1 .col1{
    width: 50%;
}
.section1 .row0 .myslides .row1 .col1 .top-heading{
    font-size: 27px;
}

.section1 .row0 .myslides .row1 .col1 .heading{
    font-size: 50px;
}
.section1 .row0 .myslides .row1 .col1 .content{
    font-size: 16px;
}
.section1 .row0 .myslides .row1 .col1 .row-price{
    display: flex;
}
.section1 .row0 .myslides .row1 .col1 .row-price .price{
    font-size: 20px;
    padding: 20px 5px;
}

.section1 .row0 .myslides .row1 .col1 .buy button{
    padding: 20px 50px;
    border: none;
    font-size: 15px;
    font-weight: 600;
}
.section1 .row0 .myslides .row1 .col1 .buy .cart{
    background-color: orange;
    color: white;
    border: 1px solid orange;
}
/* hover */
.section1 .row0 .myslides .row1 .col1 .buy .cart:hover{
    background-color: white;
    color: orange;
}
.section1 .row0 .myslides .row1 .col1 .buy .info{
    color: orange;
    background-color: white;
}
/* hover */
.section1 .row0 .myslides .row1 .col1 .buy .info:hover{
    border: 1px solid orange;   
}

.section1 .row0 .myslides .row1 .col2 img{
    width: 300px;
    padding: 0px;
}


/* dots */
.section1 .doted{
    display: flex;
    justify-content: center;
}
.section1 .doted .dot{
    padding: 5px;
    margin: 10px;
    border: 1px solid orange;
    border-radius: 5px;
    background-color: white;
}
.section1 .doted .dot.active{
    background-color: orange;
}





/* latest design tools and chairs */

.section2{
    margin: auto;
}
.section2 .column{
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: center;
}
.section2 .column .col1{
    background-color: rgb(234, 234, 255);
    width: 300px;
    margin: 20px;
    text-align: center;
    padding: 20px;
}
.section2 .column .horizontal{
    width: 450px;
    display: flex;
    text-align: start;
}
.section2 .column .horizontal #product_name{
    margin-bottom: 20px;
    font-size: large;
}
.section2 .column .horizontal #content{
    margin-bottom: 15px;
}
.section2 .column .horizontal #sales{
    margin-bottom: 25px;
}
.section2 .column .horizontal .button{
    border: black 1px solid;
    padding: 10px;
}


.section2 .column .horizontal:hover .button{
    border: none;
    color: white;
    background-color: rgb(63, 63, 63);
}





.section2 .column .horizontal div{
    padding: 15px;

}

.section2 .column .col1 .product_name{
    padding: 20px;
    font-size: large;
}

/* new arrivals */

.heading{
    margin: 30px 0;
}

.section3 .column1{
    width: 70vw;
    /* background-color: blue; */
    margin: 15px auto;
    text-align: center;
}

.section3 .column1 .product{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(240px,1fr));
}

.section3 .column1 .product .main-product{
    margin: 15px auto;
}

.section3 .column1 .product .prod{
    position: relative;
    background-color: rgb(243, 243, 251);
    width: 210px;
    height: 240px;
    /* padding: 20px; */
    margin: 15px;
}

.section3 .column1 .product .prod .addtocart{
    visibility: hidden;
    position: absolute;
    width: 90%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(45, 45, 45);
    padding: 10px;
}

.section3 .column1 .product .prod .addtocart .left span{
    font-size: small;
    padding: 0 5px;
    color: white;   
}
.section3 .column1 .product .prod .addtocart .left i{
    font-size: x-small;
    padding: 0 5px;
    color: white;
}

.section3 .column1 .product .prod .addtocart .right i{
    font-size: x-small;
    padding: 0 5px;
    color: white;
}

.section3 .column1 .product .prod:hover .addtocart{
    visibility: visible;
}

.section3 .column1 .product .prod:hover .image{
    transform: scale(1.4);
}



/* .section3 .column1 .product .prod .addtocart .left{
    position: absolute;
    left: 0;
}
.section3 .column1 .product .prod .addtocart .right{
    position: absolute;
    right: 0;
} */


.section3 .column1 .product .prod .sale-orange{
    margin-top: 5px;
    position: absolute;
    right: 0;
    background-color: rgb(255, 101, 45);
    color: white;
    padding: 5px 10px;
}
.section3 .column1 .product .prod .sale-green{
    margin-top: 5px;
    position: absolute;
    right: 0;
    background-color: green;
    color: white;
    padding: 5px 10px;
}

.section3 .column1 .product .prod img{
    margin: 50px;
    width: 100px;
    transform: scale(1.2);
}
.section3 .column1 .product .prod .prod-section{
}

/* unlimited dinning table collection */

.section5{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 50px;
}

.section5 .row0{
    background-color: black;
    width: 100%;
    height: 500px;
    opacity: 50%;
}

.section5 .row{
    position: absolute;
    left: 15%;
    width: 35vw;
    margin: auto;
    padding: 100px 0;
}

.section5 .row h2{
    color: white;
    padding: 20px 0;
}

.section5 .row p{
    color: white;
}
.section5 .row .price{
    padding: 10px 0;
    font-weight: 600;
}
.section5 .row span{
    color: orange
}

.section5 .row button{
    border: none;
    padding: 15px 40px;
    background-color: orange;
    color: white;
    font-weight: 600;
    font-size: 14px;
    margin-top: 15px;
}




/* latest Blog */

.margin-top-100 .column1 .latest {
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(190px,1fr));
}

.margin-top-100{
    margin-top: 30px;
}


.section3 .column1 .product .width{
    width: 290px;
    background: none;
    text-align: left;
} 

.section3 .column1 .product .width .margin{
    margin: 0 0px 20px 0;
}

.section3 .column1 .product .width .margin .name{
    margin: 0 0 10px 0;
}
.section3 .column1 .product .width .margin .author{
    font-size: small;
    color: rgb(101, 101, 101);
    margin: 5px 0;
}
.section3 .column1 .product .width .margin .info{
    font-size: 14px;
    color: rgb(101, 101, 101);
    margin: 10px 0;
}

/* client logo */


.section6{
    
}
.section6 .row{

}
.section6 .row::-webkit-scrollbar{

}
.section6 .row .logo-slider{
    
}
.section6 .row .logo-slider .item{

}



/* footer */


.section4 .footer{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80vw;
}

.section4 .footer .row1{
    display: flex;
}
.section4 .footer .row2{
    display: flex;
}

.section4 .footer .col1{
    width: 250px;
}

.section4 .footer .col1 .head{
    font-size: large;
    font-weight: 600;
    padding: 30px 0;
}

.section4 .footer .col1 .cont{
    padding: 5px 0;
    color: rgb(101, 101, 101);
}

.section4 .footer .col1 .email{
    padding: 5px 0;
    margin-top: 20px;
    box-shadow: black 0 0 21px -5px;
    width: 190px;
}

.section4 .footer .col1 .email input{
    border: none;
}

/* footer contact */

.section4 .footer-contact{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 100px 0 50px 0;
}
.section4 .footer-contact .row .row1 i{
    padding: 0 5px;
}

/* images */

.margin-top-100 .column1 .product .main-product img{
    width: 190px;
    margin: 0;
    padding: 0;
}



.latest .column1 .latest .main-product img{
    width: 260px;
    margin: 0;
    padding: 0;
}